* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}
.header {
  width: 100%;
  background: #000;
  display: grid;
  grid-template-rows: 80px;
}
/* -------------style index.html------------------- */

.user-login {
  width: 100%;
  height: 90vh;
  background: #000;
  border: 1px solid #202327;
}
.login-box {
  width: 30%;
  height: 500px;
  margin: 0 auto;
  margin-top: 3rem;
  border: 1px solid #202327;
  border: 1px solid rgb(29, 161, 242);
  border-radius: 5px;
}
.join-chat {
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
  color: rgb(29, 161, 242);
  text-align: center;
  font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.users-input-form {
  width: 90%;
  height: 400px;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 5px;
  /* border: 1px solid #202327; */
  /* background: white; */
}
#form-box-new {
  height: 400px;
  /* background: green; */
}
.login-cont-new {
  width: 97%;
  margin: 0 auto;
  /* background: red; */
  display: grid;
  grid-template-rows: 120px 150px 100px;
}

.username {
  /* background: yellow; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}
.style-box-f {
  font-family: D-DIN-Medium, Arial, Verdana, sans-serif;
  font-size: 20px;
  color: #fff;
}
.style-input-f {
  width: 100%;
  height: 3rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #16181b;
  color: #fff;
  font-family: monospace;
  font-size: 1rem;
}
.room-name-new {
  /* background: brown; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}
.submit-btn {
  /* background: blue; */
  display: grid;
  place-items: center;
}

#target-new-btn {
  width: 50%;
  background: #000;
  border: none;
  outline: none;
}
.style-btn-new {
  width: 100%;
  height: 50px;
  background: rgb(29, 161, 242);
  border-radius: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 0.8rem;
  cursor: pointer;
  margin-top: 2rem;
}

.style-btn-new:hover {
  font-size: 14px;
}

/*-------------------style chat.html-----------------*/
.app-section {
  width: 80%;
  margin-left: 2rem;
  margin-top: 1rem;
  display: flex;
  gap: 12px;
  cursor: pointer;
}

.app-name {
  color: #ffffff;
  font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
  font-weight: 400;
  line-height: 48px;
  text-align: start;
}

.logo-img {
  width: 4%;
}
#logo {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
}

.side-navbar {
  width: 100%;
  background: #000;
  border: 2px solid #202327;
  display: grid;
  grid-template-rows: 68px 5fr;
}
.active-rooms {
  width: 100%;

  background: #000;
  font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
  font-weight: 400;
  line-height: 48px;
  padding-left: 4.5rem;
  padding-top: 0.2rem;
  color: white;
  border-bottom: 2px solid #202327;
  display: flex;
}
.title-rooms {
  width: 50%;
  margin-top: 0.5rem;
  /* background: green; */
}
.svg-icon {
  width: 20%;
  height: 3.5rem;
  /* background: red; */
}

#img-user {
  width: 80%;
  border-radius: 50%;
}

.message-area {
  width: 100%;

  background: lime;
}
#message {
  width: 80%;
}

.user-message {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 70%;
  height: 11vh;
  background: #000;
  border-radius: 0.2rem;
  border: 1px solid rgb(29, 161, 242);
  display: grid;
  grid-template-rows: 0.5fr 3fr 0.2fr;
  box-shadow: 1px 16px 29px 1px rgba(63, 56, 56, 0.75);
  -webkit-box-shadow: 1px 16px 29px 1px rgba(63, 56, 56, 0.75);
  -moz-box-shadow: 1px 16px 29px 1px rgba(63, 56, 56, 0.75);
}

.user-name {
  width: 100%;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  /* background: red; */
  /* background: yellow; */
  font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  color: rgb(29, 161, 242);
}
.user-text {
  width: 90%;
  margin-top: 0.2rem;
  margin-left: 0.5rem;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgb(217, 217, 217);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.duration {
  width: 98%;
  /* background: green; */
  color: rgb(110, 118, 125);

  font-family: monospace;
  display: flex;
  justify-content: flex-end;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: 90vh;
}

.message-area {
  width: 100%;
  display: grid;
  grid-template-rows: 70px 1fr 100px;
}

.room-name {
  width: 100%;
  background: #000;
  border: 2px solid #202327;
}

.room-name-box {
  width: 80%;
  /* background: red; */
  font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
  font-weight: 400;
  line-height: 48px;
  margin-top: 0.5rem;
  margin-left: 2rem;
  color: white;
}

.room-msg {
  width: 100%;
  background: #100f10;
  overflow-y: scroll;
}

.input-msg-box {
  width: 100%;

  background: #000;
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-column-gap: 3rem;
  /* padding-top: 1rem; */
}
#form-box {
  width: 100%;
  /* background: yellow; */
  margin-left: 3rem;
  display: grid;
  grid-template-columns: 7fr 0.5fr;
  margin-top: 2rem;
}

.input-box-cont {
  width: 100%;
  height: 3rem;
  /* background: red; */
}
#input-box {
  width: 100%;
  height: 3rem;
  border-radius: 2rem;
  padding-left: 2rem;
  padding-right: 1rem;
  outline: none;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  background: #16181b;
}

.send-btn {
  display: grid;
  place-items: center;
}
#btn {
  width: 70%;
  background: #000;
  border: none;
  cursor: pointer;
}
#btn:hover {
  width: 65%;
}

.location-btn {
  width: 80%;
  margin-top: 0.5rem;
  /* background: green; */
  margin-right: 5rem;
  display: grid;
  place-items: center;
}
#share-location-btn {
  width: 70%;
  background: #000;
  border: none;
}
#gmap-logo {
  width: 50%;
  cursor: pointer;
}

#gmap-logo:hover {
  width: 65%;
}

#style-link {
  text-decoration: none;
}
.link-location {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.my-currentloacation {
  text-decoration: none;
  color: white;
  /* text-align: center; */
  padding-top: 0.5rem;
}
.location-l {
  width: 10%;
}

#user-l {
  width: 40%;
}

.active-room-list {
  color: #fff;
}

.users-list-new {
  width: 100%;
  height: 4rem;
  margin-top: 0.5rem;
  /* background: green; */
  display: flex;
  gap: 5rem;
}

#userlist {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  margin-top: 1rem;
}

.room-list-data {
  width: 20%;
  height: 3.5rem;
  background: #000;
}
